@charset "utf-8";
body {
	
	/*text-align:center;*/
	/*margin-top:10px;
	margin-bottom:10px;*/
		
}
#cabezote {
	height: 130px;
	width: 1024px;
	background: url(../images/cabezote.jpg) #e6e6e6;
	background-repeat: no-repeat;
	overflow:hidden;
	margin:0 auto;
	
}
#piedepagina {
	height: 100px;
	width: 1024px;
	margin:0 auto;
	color: #FFF;
	background:	#000000;	
	vertical-align:middle;
	text-align: center;
}
#textopiedepagina {
	padding:3%;
	}
#inicioSesion {
	height:200px;
	width:800px;
	margin:0 auto;	
}

#elegirRep {
	height:200px;
	width:800px;
	margin:0 auto;	
}

#login {
	padding:5%;
}

#respuesta{
	font: normal 15px arial;
    color: red;
}

#roles{
	text-align: left;
	margin:0 auto;
	width: 150px;
	
}

#reparaciones {
	text-align: left;
	margin:0 auto;
	width: 150px;
	padding: 5%;
}

.itemForm {
	float:left;
}

.itemFormNum {
	float:left;
}

.itemFormChar {
	float:left;
}

.itemFormAlfaNum {
	float:left;
}

.leftText {
	float:left;
	text-align:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	width: 200px;
}

.error {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font: normal 10px arial;
    padding: 2px;
    margin: 1px;
    /*background-color: #ffc;*/
    border: 1px solid #c00;
    float:left;
    /*position: absolute;*/
    
}

.inputButton {
	/*float:right;*/
	/*text-align:left;*/
}

#menuv {
        border: 1px solid #ACCFE8;
        border-width: 1px 1px 1px 1px;
        width: 150px;
        font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
        top: 3%;
        height: 500px;
        float: left;
}
#menuv ul, li {
        list-style-type: none;
}

#menuv ul {
        margin: 0;
        padding: 0;
}

#menuv li {
        border-bottom: 1px solid #ACCFE8;
}

#menuv a {
        text-decoration: none;
        color: #3366CC;
        background: #F0F7FC;
        display: block;
        padding: 3px 6px;
        width: 138px;
}

#menuv a:hover {
        background: #DBEBF6;
}

#contenedorppal {
	width:1024px;
	height: 500px;		
	/*overflow:hidden;*/
    margin:0 auto;
}

#contenido {
	height: 500px;
	width: 874px;
	margin:0 auto;
	padding: 1px;
}